xm requirements


python -m pip requests
pip install flask_web_log
pip install robotframework
pip install --upgrade robotframework-seleniumlibrary
pip install selenium robotframework-selenium2library webdrivermanager
pip install robotframework-requests

python_version_used Python 3.11.0
